{% extends "dashboard/base.html" %}

{% block contenido %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Listar Pacienes con COVID-19</h3>
    </div>
    <br>
    <div class="text-center">
        <a href="{% url 'seguimiento:descargar_listado_pacientes' %}" class="btn btn-info">Descarga Listados</a>
    </div>

    <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="tabla">
            <thead>
                <tr>
                    <th>DNI</th>
                    <th>N° Afiliado</th>
                    <th>Apellido y Nombre</th>
                    <th>Fecha de Carga</th>
                    <th>Calificación</th>
                    <th>Opinión</th>
                    <th>Celular</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for item in obj %}
                <tr>
                    <td>{{ item.dni }}</td>
                    <td>{{ item.numero_afiliado }}</td>
                    <td>{{ item.nombre|upper }}</td>
                    <td>{{ item.fecha_creacion }}</td>
                    <td>{{ item.calificacion }}</td>
                    <td>{{ item.opinion }}</td>
                    <td>{{ item.celular }}</td>
                    <td>{{ item.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock contenido %}