{% extends "public/base.html" %}

{% block contenido %}
<br><br>
<div class="panel panel-default">

    <div class="panel-heading">
        <h3>Datos recibidos</h3>
    </div>
    <div class="panel-body">
        <h4>Muchas gracias!</h4>
        <br>
        <a href="/" class="btn btn-success"><span class="fa fa-plus-square"></span> Cargar otra persona</a>
    </div>
</div>
{% endblock contenido %}