{% extends "public/base.html" %}

{% block contenido %}
<form method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Por favor ingreso el dni de la persona:</h3>
        </div>
        <div class="panel-body">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success"><span class="fa fa-save"></span> Guardar</button>

        </div>
    </div>
</form>
{% endblock contenido %}