{% extends "public/base.html" %}

{% load static %}

{% block contenido %}
<form method="post">
    <div class="panel panel-default">
        <img src="{% static 'base/img/logo_osep.jpeg' %}" width="400" height="150">
        <div class="panel-heading">
            <h3>* Todos los campos son obligatorios</h3>
        </div>
        <div class="panel-body">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success"><span class="fa fa-send"></span> Enviar</button>
        </div>
    </div>
</form>
{% endblock contenido %}