{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Obra Social de los Empleados Públicos de Catamarca | Ingreso</title>

    <link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'base/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/style.css' %}" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name"><i class="fa fa-lock"></i></h1>
            </div>

            <div class="row">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong> {{ message }} </strong>
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div>
            {% if form.errors %}
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="alert alert-success">
                                <strong> {{ error|escape }} </strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-success">
                            <strong> {{ error|escape }} </strong>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
            </div>

            <h3>BIENVENIDO</h3>

            <form class="m-t" method="POST">
                {% csrf_token %}
                <div class="form-group">
<!--                    <input type="text" class="form-control" placeholder="Usuario" id="id_username" name="username" required="">-->
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.password }}
<!--                    <input type="password" class="form-control" placeholder="Contraseña" id="id_password" name="password" required="">-->
                </div>
                <div class="form-group">
                     {{ form.captcha }}
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b">Ingresar</button>
                <!--  <a href="#"><small>Olvido su contraseña?</small></a> -->
            </form>
            <br>
            <button class="btn btn-warning" onClick="window.location.reload();">Refrescar Página</button>
            <p class="m-t"> <small><a href="/">Obra Social de los Empleados Públicos de Catamarca</a> &copy; 2021</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static 'base/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'base/js/popper.min.js' %}"></script>
    <script src="{% static 'base/js/bootstrap.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</body>

</html>