<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img src="{{ user.usuario.perfil.url }}" class="img-circle" width="150">
                        <span class="block m-t-xs font-bold"></span>
                        <span class="text-muted text-xs block">Bienvenido <b>{{ user.username.upper }}</b></span>
                    </a>
                </div>
                <div class="logo-element">
                </div>
            </li>

            {% if user.perfil.nivel == 'administrador' %}
            <li>
                <a href="#"><i class="fa fa-address-card"></i> <span class="nav-label">Seguimiento COVID</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="{% url 'seguimiento:listado_pacientes' %}">listado de Pacientes</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>