<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">

        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li style="padding: 20px">
                <span class="m-r-sm text-muted welcome-message">Obra Social de Empleados Públicos de Catamarca</span>
            </li>
            <li>
                <a href="{% url 'usuarios:logout'%}">
                    <i class="fa fa-sign-out"></i> Salir
                </a>
            </li>
        </ul>
    </nav>
</div>