{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Obra Social de los Empleados Públicos de Catamarca</title>

    <link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'base/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/style.css' %}" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h3 class="font-bold">Seguimiento de Pacientes con COVID-19</h3>

        <div class="error-desc">
            {% block contenido %}

            {% endblock contenido %}
        </div>
    </div>

    <script src="{% static 'base/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'base/js/popper.min.js' %}"></script>
    <script src="{% static 'base/js/bootstrap.js' %}"></script>

</body>
</html>
